*{
    text-align: center;
}

div{
    height: 300px;
    width:500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
}
h3{
    font-size: 50px;
}
button{
    font-size: 20px;
}